<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="log4j2-properties.xml"/>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>